body {
  opacity: 1;
  transition: 1s opacity;
  font-family: 'Lato', sans-serif;
  background: white;
  color: #FFF;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body.fade-out {
  opacity: 0;
  transition: none;
}
a {
  text-decoration: none;
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  -moz-transition: 1.2s;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
h1.main {
  font-family: 'Megrim', serif;
  font-size: 10vw;
  margin: 0;
}
h2 {
  margin: 0;
  margin-top: 20px;
  line-height: 1.6;
  color: #232E3E;
}
h6 {
  color: #232E3E;
}
.fade {
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  -moz-transition: 1.2s;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.fade:hover { color: #08009f; }
h3 {
  color: #FFF;
  font-size: 24px;
  display: inline;
}
p {
  color: #232E3E;
  font-size: 18px;
  margin-top: 10px;
}
input[type=text],
input[type=email],
input[type=submit],
textarea {
  width: 550px;
  margin: 20px auto 0 auto;
  padding: 4px;
  font-size: 17px;
  outline: 0;
  color: #FFF;
}
::placeholder {
  color: #2d4379;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { color: #2d4379; } /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #2d4379; } /* Microsoft Edge */
input {
  border: none;
  -webkit-transition: border-bottom .35s ease-in-out;
  transition: border-bottom .35s ease-in-out;
}
input[type=text],
input[type=email],
textarea[type=message] {
  display: block;
  background-color: #102154;
  border-bottom: 2px solid #2d4379;
}
input[type=text]:focus,
input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover
{ border-bottom: 2px solid #FFF; }
textarea[type=message] {
  border: 2px solid #2d4379;
  border-radius: 4px;
  -webkit-transition: border .35s ease-in-out;
  transition: border .35s ease-in-out;
}
textarea[type=message]:focus,
textarea[type=message]:hover {
  border: 2px solid #FFF;
}
input[type=submit] {
  width: 85px;
  color: #102154;
  padding-bottom: 8px;
  background-color: #2d4379;
  border-color:#2d4379;
  border-radius: 4px;
  -webkit-transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
  transition: background-color .35s ease-in-out, border-color .35s ease-in-out;
}
input[type=submit]:hover {
  background-color: #FFF;
  border-color: #FFF;
  cursor: pointer;
}
form { margin-bottom: 105px; }
#nav-bg {
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 4;
  position: fixed;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
#navigation, #top {
  width: 50%;
  top: 20px;
  z-index: 5;
 }
#navigation {
  text-align: left;
  position: fixed;
}
#top {
  position: absolute;
  text-align: right;
  right: 20px;
}
#bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  background: #102154;
}
.sm-icon {
  width: 30px;
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  -moz-transition: 1.2s;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.sm-icon-top { filter: brightness(1.9); }
.sm-icon-top:hover { filter: brightness(3.0); }
.sm-icon-bottom {
  filter: brightness(1.0);
  padding: 0 20px 0 0;
  margin-top: 12px;
  float: right;
}
.sm-icon-bottom:hover { filter: brightness(4.0); }
.sm-icon-first { padding-left: 25px; }
.sm-icon-end { padding-right: 5px; }
.nav-link {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 25px;
  color: #94b8fc;
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  -moz-transition: 1.2s;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.nav-link:hover { filter: brightness(0.2); }
.description {
  line-height: 1.2;
  font-size: 1.85vw;
  margin: 0 auto 40px auto;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.gradient-text {
  background-image: -webkit-linear-gradient(left, #FFF, #75a4ff, #FFF); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(left, #FFF, #75a4ff, #FFF); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(left, #FFF, #75a4ff, #FFF); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(left, #FFF, #75a4ff, #FFF); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right, #FFF, #75a4ff, #FFF); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#output { z-index: -1; }
#home {
  width: 100%;
  height: 67vh;
  margin: auto;
  padding-top: 33vh;
  text-align: center;
  overflow: hidden;
}
.title {
  font-family: 'Megrim', serif;
  font-size: 4.6vw;
  margin: 180px 0 0 0;
  color: #2d4379;
}
#work { 
  padding: 12% 10% 12% 10%;
  text-align: center;
  overflow-x: hidden;
}
#details {
  font-size: 18px;
  color: #375398;
  float: left;
  padding: 0 0 20px 20px;
  text-align: left;
}
a.email-link,
a.phone-link
{ color: #375398; }
a.email-link:hover,
a.phone-link:hover 
{ color: #FFF; }


/* Down arrow */
.top-arrows {
	width: 60px;
	height: 102px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}
.top-arrows path {
	stroke: #75a4ff;
	fill: transparent;
	stroke-width: 3px;
	animation: arrow 3s infinite;
	-webkit-animation: arrow 3s infinite;
}
@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
@-webkit-keyframes arrow { /*Safari and Chrome*/
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
.top-arrows path.a1 {
	animation-delay: -1s;
	-webkit-animation-delay: -1s; /* Safari and Chrome */
}
.top-arrows path.a2 {
	animation-delay: -0.5s;
	-webkit-animation-delay: -0.5s; /* Safari and Chrome */
}
.top-arrows path.a3 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s; /* Safari and Chrome */
}


/* Modal */
.modal {
  background: #1D3472DC;
  height: 5px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease 0.5s, height 0.5s ease;
  width: 0;
}
.content {
  font-size: 2em;
  position: absolute;
  top: 50%;
  text-align: left;
  transform: translate3d(0,-50%,0);
  transition: color 0.5s ease;
  width: 100%;
}
#modal-bg {
  height: 100vh;
  background-image: url("../images/aboutBG.png");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
#modal-left {
  width: 50%;
  text-align: center;
  padding: 16% 95px;
}
#about-text {
  color: #FFF;
  font-size: 24px;
  margin-bottom: 35px;
}
a.about-link { color: #bcd7ff; }
a.about-link:hover { color: #FFF; }
.sm-icon-about { filter: brightness(3.0); }
.sm-icon-about:hover { filter: brightness(5.0); }
h1.modalhead {
  color: #FFF;
  font-family: 'Megrim', serif;
  font-size: 7.7vw;
  margin: 0;
  font-weight: bold;
}
label { cursor: pointer; }
input[type=checkbox] {
  cursor: pointer;
  height: 0;
  opacity: 0;
  width: 0;
}
input[type=checkbox]:focus { outline: none; }
input:checked {
  height: 35px;
  opacity: 1;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1;
  -webkit-appearance: none;
  width: 35px;
}
input:checked::after,
input:checked:before {
  border-top: 3px solid #FFF;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
}
input:checked::after { transform: rotate(-45deg); }
input:checked + label {
  color: #FFF;
  transition: color 0.5s ease;
}
input:checked ~ .modal {
  height: 100vh;
  width: 100vw;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}
input:checked ~ .modal .content {
  color: #FFF;
  transition: color 0.5s ease 0.5s;
}


/* Bootstrap Styles! ----------------------------------------- */
.row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}
.row2 {
  padding-top: 100px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
.col-lg-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-lg-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-lg-2 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin: auto;
}
.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-lg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-lg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 16%;
  text-align: left;
}
.col-lg-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-lg-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-lg-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-lg-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-lg-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-lg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
  object-fit: cover;
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  -moz-transition: 1.2s;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.rounded-circle:hover {
  filter: brightness(80%);
}


/* Responsiveness! ------------------------------------------- */
/* iPad */
@media screen and (min-width: 751px) and (max-width: 1025px) {
  .col-lg-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Mobile Landscape */
@media screen and (min-width: 650px) and (max-width: 750px) {
  .top-arrows { display: none; }
  .description { font-size: 2.5vw; }
  #modal-left {
    width: 98%;
    padding: 1% 1%;
  }
  #navigation, #top { width: 100%; }
  #about-text {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .col-lg-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Mobile Portrait */
@media screen and (max-width: 649px) {
  #top { display: none; }
  #navigation {
    width: 100%;
    text-align: center;
  }
  #home-link { padding-left: 0; }
  h1.main { font-size: 19vw; }
  .description { font-size: 5vw; }
  .top-arrows { bottom: 40px; }
  #work { padding: 6% 0 20% 0; }
  .title { font-size: 12vw; }
  input[type=text],
  input[type=email],
  input[type=submit],
  textarea
  { width: 250px; }
  h1.modalhead { font-size: 11vw; }
  #modal-left {
    width: 96%;
    padding: 9% 2%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sm-icon-bottom {
    padding: 0 2px 0 0;
  }
  #about-text {
    font-size: 20px;
  }
  h1.modalhead {
    margin-top: 25%;
  }
}